<div>
    <mat-expansion-panel *ngIf="categories">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Category
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
            <mat-list-option [selected]="true" (click)="onCategoryUpdate('')">
                All
            </mat-list-option>
            <mat-list-option *ngFor="let category of categories" [value]="category"
                (click)="onCategoryUpdate(category)">
                {{category}}
            </mat-list-option>
        </mat-selection-list>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="sizes">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Size
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
            <mat-list-option [selected]="true" (click)="onSizeUpdate('')">
                All
            </mat-list-option>
            <mat-list-option *ngFor="let size of sizes" [value]="size" (click)="onSizeUpdate(size)">
                {{size}}
            </mat-list-option>
        </mat-selection-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Price
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list>
            <div class="flex flex-col">
                <mat-form-field appearance="fill">
                    <mat-label>Minimum price</mat-label>
                    <input matInput name="minimumPrice" type="number" [formControl]="minimumPrice"
                        (input)="onMinimumPriceUpdate()">
                    <mat-error>
                        {{getMinimumPriceErrorMessage()}}
                    </mat-error>
                    <span matTextPrefix>$&nbsp;</span>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Maximum price</mat-label>
                    <input matInput name="maximumPrice" type="number" [formControl]="maximumPrice"
                        (input)="onMaximumPriceUpdate()">
                    <mat-error>
                        {{getMaximumPriceErrorMessage()}}
                    </mat-error>
                    <span matTextPrefix>$&nbsp;</span>
                </mat-form-field>
            </div>

        </mat-selection-list>
    </mat-expansion-panel>
</div>