# Exclude development and build-related files
node_modules
npm-debug.log
yarn-error.log
coverage
*.log

# Exclude environment-specific files
.env
.env.*
.env.local

# Exclude version control files
.git
.gitignore

# Exclude editor-specific files
.vscode
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Exclude Docker-related files
.dockerignore
.docker
.dockerignore.dockerfile

# Exclude test files and directories
__tests__
test
tests
