<mat-drawer-container [autosize]="true" class="min-h-full max-w-7x1 mx-auto border-x">
    <mat-drawer #drawer [opened]="isDrawerOpen" [mode]="drawerMode">
        <div class="mb-1">Filters</div>
        <app-filters (categoryChange)="onCategoryChange($event)" (sizeChange)="onSizeChange($event)"
            (minimumPriceChange)="onMinPriceChange($event)"
            (maximumPriceChange)="onMaxPriceChange($event)"></app-filters>
    </mat-drawer>
    <mat-drawer-content class="p-7">
        <div [ngClass]="{'flex': mobile}">
            <button *ngIf="mobile" type="button" mat-button (click)="drawer.toggle()">
                <mat-icon>density_medium</mat-icon>
            </button>
            <div class="w-full">
                <app-products-header [mobile]="mobile" (columnCountChange)="onColumnCountChange($event)"
                (itemCountChange)="onItemCountChange($event)" (sortChange)="onSortChange($event)"></app-products-header>
                <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
                    <mat-grid-tile *ngFor="let product of products">
                        <app-product-box [product]="product" (addToCart)="onAddToCart($event)" class="w-full"
                        [fullWidthMode]="cols === 1"></app-product-box>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>