<!-- Footer with copyright symbol and my name to show who made the site in an inconspicuous manner -->
<mat-toolbar class="max-w-7x1 mx-auto border-x flex gap-2 flex-wrap justify-center min-h-[7.5vh] max-h-[7.5vh]">
    <span class="opacity-75 text-xs sm:text-sm">&copy;2024 Pesanth Janaseth Rangaswamy Anitha </span>
    <span class="opacity-75 text-xs sm:text-sm text-blue-800"> <a href="https://www.linkedin.com/in/pesanth" target="_blank" rel="noopener noreferrer"> | LinkedIn | </a></span>
    <span class="opacity-75 text-xs sm:text-sm text-green-800 ">  <a href="https://github.com/85ip9gh" target="_blank" rel="noopener noreferrer"> GitHub</a></span>
</mat-toolbar>