<mat-card *ngIf="product" [ngClass]="{'text-center': !fullWidthMode, 'h-[480px]': (fullWidthMode && mobile)}">
    <div class="h-full" [ngClass]="{'flex': fullWidthMode && !mobile }">
        <div class="mb-1 mx-auto">
            <div class="aspect-w-1 aspect-h-1" [ngClass]="{'h-[360px] w-[360px]': (fullWidthMode && !mobile)}">
                <img class="w-full h-full object-contain"
                    [ngClass]="{'max-h-[200px]': (fullWidthMode && mobile) || (!fullWidthMode && !mobile) ,'h-[360px] w-[360px]': fullWidthMode && !mobile}"
                    src={{product.imagePath}} alt="AI generated Cube product" />
            </div>
        </div>
        <div class="w-full" [ngClass]="{'p-4 flex flex-col justify-between':fullWidthMode}">
            <div>
                <div [ngClass]="{'flex justify-between':fullWidthMode}">
                    <p class="opacity-75 text-sm">{{product.category}}</p>
                    <p class="opacity-75 text-sm" *ngIf="fullWidthMode">{{product.size}}</p>
                </div>
                <div [ngClass]="{'flex justify-between':fullWidthMode && !mobile}" class="text-center">
                    <p class="truncate hover:whitespace-normal font-medium"
                        [ngClass]="{'text-sm':mobile && !fullWidthMode,'text-xl':!mobile || fullWidthMode}">
                        {{product.title}}</p>
                    <p *ngIf="fullWidthMode">{{product.age | number}} years old</p>
                </div>
                <div *ngIf="fullWidthMode" [ngClass]="{'max-h-[100px]': mobile, 'max-h-[200px]': !mobile}" class=" overflow-y-auto">
                    <ng-container *ngFor="let paragraph of product.description.split('  '); let i = index">
                        <p class="text-base indent-10">
                            {{paragraph}}
                        </p>
                        <br *ngIf="i < product.description.split('  ').length - 1">
                    </ng-container>
                </div>
            </div>
            <div class="flex justify-between">
                <span class="text-red-400">{{product.price| currency}}</span>
                <button (click)="onAddToCart()">
                    <mat-icon class="text-grey-500">add_shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>