<mat-card *ngIf="product" [ngClass]="{'text-center': !fullWidthMode}">
    <div [ngClass]="{'flex': fullWidthMode && !mobile }">
        <div class="mb-1 mx-auto">
            <div class="aspect-w-1 aspect-h-1" [ngClass]="{'max-h-[200px]': (fullWidthMode && mobile) || (!fullWidthMode && !mobile) ,'max-h-[360px]': fullWidthMode && !mobile}">
                <img class="w-full h-full object-contain"
                    [ngClass]="{'h-[200px]': (!fullWidthMode) || (fullWidthMode && mobile) , 'h-[360px]':fullWidthMode && !mobile}"
                    src={{product.imagePath}} alt="AI generated Cube product" />
            </div>
        </div>
        <div class="w-full" [ngClass]="{'px-8 flex flex-col justify-between':fullWidthMode}">
            <div>
                <div [ngClass]="{'flex justify-between':fullWidthMode}">
                    <h5>{{product.category}}</h5>
                    <h5 *ngIf="fullWidthMode">{{product.size}}</h5>
                </div>
                <div [ngClass]="{'flex justify-between':fullWidthMode && !mobile}" class="text-center">
                    <p class="truncate hover:whitespace-normal">{{product.title}}</p>
                    <p *ngIf="fullWidthMode">{{product.age | number}} years old</p>
                </div>
                <div>
                    <p *ngIf="fullWidthMode" class="overflow-y-auto max-h-[200px]">{{product.description}}</p>
                </div>
            </div>
            <div class="flex justify-between">
                <span class="text-red-400">{{product.price| currency}}</span>
                <button (click)="onAddToCart()">
                    <mat-icon class="text-grey-500">add_shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>